* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
main {
  margin-top: 56px;
}
section#filtro {
  margin: 20px 0;
  padding: 20px;
  -webkit-box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.25);
  background: #ec1e1e;
}
section#filtro input[type='radio'] {
  width: 20px;
  height: 20px;
}
section#filtro form select {
  width: 80%;
}

section#filtro form h4 {
  margin-right: 15px;
}
section#filtro .banner-lateral {
  width: 100%;
  max-height: 188px;
}
footer#footer {
  background: #ccc;
  padding: 5px;
  text-align: center;
  width: 100%;
}
footer#footer p .lead {
  line-height: 5px;
}
section#anuncios .container {
  margin: 0 auto;
}
section#anuncios .card {
  -webkit-box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 2px 9px 0px rgba(0, 0, 0, 0.25);
}
#navegacao {
  width: 100%;
}
#navegacao nav ul li a {
  color: red;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
  border-bottom: 1px solid #ffc107 !important;
}

/*LOGIN */

section#login {
  margin-top: 100px;
  height: 100%;
  margin-bottom: 30px;
}
section#login form {
  font-size: 20px;
  color: #fff;
  background: #ffc107;
  height: auto;
  padding: 30px;
  margin: 0 auto !important;
}
section#login .form-group div {
  margin: 20px 0;
}
section#login .form-group div label {
  text-transform: uppercase;
}
section#login input[type='email'],
section#login input[type='password'] {
  border: none;
}
.form-control:focus,
.form-control:hover,
.form-control:active {
  outline: none !important;
}

/*LOGIN FIM*/

/*media queries*/
@media only screen and (max-width: 768px) {
  #anuncios .row .centraliza .card {
    margin: 0 auto;
  }
  #navegacao nav ul li a {
    font-size: 18px;
    padding: 12px;
  }
  #navegacao nav {
    width: 120px;
  }
}
